attrs==21.4.0
ConfigParser==6.0.0
cryptography==37.0.2
Cython==0.29.30
dl==0.1.0
docutils==0.17.1
docutils==0.17.1
Flask==2.1.2
Flask==2.3.2
HTMLParser==0.0.2
ipython==8.3.0
ipywidgets==7.7.0
Jinja2==3.1.2
jnius==1.1.0
keyring==24.2.0
lockfile==0.12.2
lxml==4.7.1
numpy==1.21.6
Pillow==9.0.0
Pillow==10.0.0
protobuf==3.20.1
pyOpenSSL==22.0.0
pyOpenSSL==23.2.0
railroad==0.5.0
Sphinx==4.5.0
toml==0.10.2
tornado==6.2
trove_classifiers==2023.8.7
xmlrpclib==1.0.1
